{% extends "blog/base.html" %}

<!--
==========================================================
FORMULARIO

Este template sirve para:

Crear artículos.

Editar artículos.

La variable "accion" indica el título.

==========================================================
-->

{% block titulo %}

{{ accion }} artículo

{% endblock %}

    
{% block contenido %}

<div class="row justify-content-center">

<div class="col-md-8">

<div class="card shadow">

<div class="card-header">

<h2>

{{ accion }} artículo

</h2>

</div>

<div class="card-body">

<form method="POST">

{% csrf_token %}

<!--
form.as_p

Django genera automáticamente
todos los campos definidos
en forms.py
-->

{{ form.as_p }}

<button
type="submit"
class="btn btn-success">

Guardar

</button>

<a
href="{% url 'lista_articulos' %}"
class="btn btn-secondary">

Cancelar

</a>

</form>

</div>

</div>

</div>

</div>



{% endblock %}
